.container {
  max-width: var(--width-container);
  width: 90%;
  margin: 0 auto;
}

.main-content {
  padding-top: var(--height-header-desktop);
  padding-bottom: var(--page-padding-bottom);
  padding-left: 20px;

  @media (min-width: 845px) {
    margin-left: 200px;
  }

  @media (min-width: 1000px) {
    margin-left: 300px;
  }
}
