---
import { flagsmith } from "../../lib/flagsmith";
import "./Sidebar.css";

const flags = await flagsmith.getEnvironmentFlags();
const challengeNumber = +(flags.getFeatureValue('challenge-number'));
---
<aside class="main-sidebar">
  <strong>Módulo 1: Introducción al Desarrollo Web</strong>
  <nav class="main-navigation">
    <ul>
      <li>
        <a href="/challenge1">Reto 1: Acceso restringido</a>
        </li>
        <li>
          <a href="/challenge1/entregas">Resumen de entregas</a>
        <ul>
          <li>
            <a href="/challenge1/os">Fase 1: Tu Sistema Operativo y su terminal</a>              
            <ul>
              <li>
                <a href="/challenge1/os/moviendote-por-tu-disco-duro">Moviéndote por tu disco duro</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/challenge1/herramientas">Fase 2: Las herramientas del developer</a>              
            <ul>
              <li>
                <a href="/challenge1/herramientas/configuracion-vs-code">Configuración del VS Code</a>
              </li>
              <li>
                <a href="/challenge1/herramientas/configuracion-git">Configuración de Git</a>
              </li>    
            </ul>
          </li>
          <li>
            <a href="/challenge1/calentando-motores-js">Fase 3: Calentando motores con JS</a>              
            <ul>
              <li>
                <a href="/challenge1/calentando-motores-js/tu-primer-programa">Tu primer programa</a>
              </li>
              <li>
                <a href="/challenge1/calentando-motores-js/variables">Variables</a>
              </li>
              <li>
                <a href="/challenge1/calentando-motores-js/expresiones">Expresiones</a>
              </li>
              <li>
                <a href="/challenge1/calentando-motores-js/finaliza-tu-primer-programa">Finaliza tu primer programa</a>
              </li>
            </ul>
          </li>  
          <li>
            <a href="/challenge1/entorno-de-desarrollo">Fase 4: Un entorno de desarrollo</a>
            <ul>
              <li>
                <a href="/challenge1/entorno-de-desarrollo/tu-segundo-programa">Tu segundo programa</a>
              </li>
              <li>
                <a href="/challenge1/entorno-de-desarrollo/operaciones-con-strings">Operaciones con strings</a>
              </li>
              <li>
                <a href="/challenge1/entorno-de-desarrollo/operaciones-con-numbers">Operaciones con numbers</a>
              </li>
            </ul>
          </li> 
          <li>
            <a href="/challenge1/el-programa-definitivo">Fase 5: El programa definitivo del reto</a>
          </li>      
        </ul>
      </li>
      { 
        challengeNumber > 1 && (
          <li>
            <a href="/challenge2">Reto 2: El juego de la vida</a>
          </li>
        )
      }
    </ul>
  </nav>
</aside>
