---
import "./Footer.css";
---
<footer class="main-footer"> 
  <div class="container">
    Módulo 1: Introducción al Desarrollo Web
    <a href="https://the-refactor-project.com" target="_blank">
      <img src="/isotipo-the-refactor-project-blanco.svg" alt="Logotipo de The Refactor Project" height="20">
    </a>
  </div> 
</footer>
