---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer/Footer.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";
import "@fontsource-variable/roboto-flex";
import { type ComponentProps, type LoginProps } from "../types"
import "../styles/global.css";
import "./BaseLayout.css";

type Props = ComponentProps & LoginProps;

const { isLogged } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Módulo 1: Introducción al Desarrollo Web - Crafting en Desarrollo Web Profesional</title>
  </head>
  <body>
    <div class="container">
      <Header isLogged={isLogged} />
      <div class="main-block">
        {isLogged && <Sidebar />}
        <main class="main-content">
          <slot />
        </main>
      </div>
    </div>
    <Footer />
  </body>
</html>
